<mat-sidenav-container>

  <mat-sidenav mode="side"
               #sidenav
               opened
               position="start"
               [fixedBottomGap]="0">
    <div class="logo">
      <img src="../assets/images/logo.png">
    </div>
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon>dns</mat-icon>Overview
      </a>

      <a mat-list-item><mat-icon>mail_outline</mat-icon>
        <span matBadge="4" matBadgeOverlap="false" matBadgeColor="warn">Messages</span>
      </a>
      <a mat-list-item (click)="showSubMenu = !showSubMenu">
        <mat-icon>search</mat-icon> Search
      </a>
      <a mat-list-item><mat-icon>assessment</mat-icon>  Filter </a>
      <a mat-list-item><mat-icon>history</mat-icon> History </a>
      <a mat-list-item><mat-icon>perm_identity</mat-icon>My Account</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <span class="toolbar-spacer"></span>
      <mat-icon matBadge="22" matBadgePosition = "before" matBadgeColor="warn">
        notifications
      </mat-icon>
      <mat-form-field>
        <mat-select placeholder="Choose Team"
                    [(value)]="selected"
                    (selectionChange)="child.getFilteredUser('team', $event.value)">
          <mat-option *ngFor="let team of teams" [value]="team.value">
            {{team.displayText}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </mat-toolbar>

    <div class="main-content">

      <div fxFlex="20" *ngIf="showSubMenu">
        <div></div>
        <app-submenu (filterEvent)="useCom.filerUserDetails($event)"></app-submenu>
      </div>

      <div fxFlex="auto">
        <app-user-details #child #useCom></app-user-details>
      </div>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
